@model List<faqs>


<div class="container mt-5">
    <div class="accordion">
        @foreach (var faqs in Model)
        {
            <div class="accordion-item">
                <button id="accordion-button-1" aria-expanded="false">
                    <span class="accordion-title">@faqs.faqs_question</span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p>
                        @faqs.faqs_answer
                    </p>
                </div>
            </div>
        }
    </div>
</div>