
@{
    ViewData["Title"] = "aboutus";
    Layout = "~/Views/Shared/userpanel.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn"
     data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-4 animated slideInDown mb-4">Meet Our Experts</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Userpanel")">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Who We Are</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Meet Our Experts
                </li>
            </ol>
        </nav>
    </div>
</div>

<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto" style="max-width: 500px">
            <h1 class="display-6 mb-5">Meet the Experts Behind Our Success</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="~/assets/img/pf (1).jpg" alt="" />
                    <div class="text-center p-4">
                        <h5>Shoaib Javed Hussain</h5>
                        <span>Chief Executive Officer</span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Shoaib Javed Hussain</h5>
                        <p>Chief Executive Officer</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-light m-1" href="https://www.instagram.com/aptechmetro/">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="https://www.facebook.com/AptechMetro/">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="https://www.youtube.com/c/aptechmetrostargatecenter">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="https://pk.linkedin.com/company/aptechmetro">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="~/assets/img/pf (3).png" alt="" />
                    <div class="text-center p-4">
                        <h5>Mr. Shahid Iqbal Baloch</h5>
                        <span>Executive Director</span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Mr. Shahid Iqbal Baloch</h5>
                        <p>Executive Director</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-light m-1" href="https://www.instagram.com/aptechmetro/">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="https://www.facebook.com/AptechMetro/">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="https://www.youtube.com/c/aptechmetrostargatecenter">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="https://pk.linkedin.com/company/aptechmetro">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="~/assets/img/pf (2).png" alt="" />
                    <div class="text-center p-4">
                        <h5>Dr. Aftab Imam Alam</h5>
                        <span>Executive Director</span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Dr. Aftab Imam</h5>
                        <p>Executive Director</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-light m-1" href="https://www.instagram.com/aptechmetro/">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="https://www.facebook.com/AptechMetro/">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="https://www.youtube.com/c/aptechmetrostargatecenter">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="https://pk.linkedin.com/company/aptechmetro">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="~/assets/img/pf (1).png" alt="" />
                    <div class="text-center p-4">
                        <h5>Mr. Abdul Shakoor Shaikh</h5>
                        <span>Executive Director</span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Mr. Abdul Shakoor Shaikh</h5>
                        <p>Executive Director</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-light m-1" href="https://www.instagram.com/aptechmetro/">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="https://www.facebook.com/AptechMetro/">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="https://www.youtube.com/c/aptechmetrostargatecenter">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a class="btn btn-square btn-light m-1" href="https://pk.linkedin.com/company/aptechmetro">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
